<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/pico-1.5.10/css/pico.min.css" />
    <title>Main page</title>
</head>
<body>
<div th:replace="~{nav :: header}"></div>
<hgroup>
    <h2>Welcome to Arcadia</h2>
    <h4>Local gaming tournament</h4>
</hgroup>
<article>
    If you're a player looking for some action or a team looking to complete, you've come to the right place!
    Go ahead and register for one of the available games for you to play :)
</article>
</body>
</html>